<h2 class="content-heading">Telco asset management software</h2>
<h3 class="small-heading">The solution</h3>
<p>AxS is a big data analytics solution that aims to provide operational insights into telecommunication network in a fast turnaround time. It provides highly automated and cross-departmental data analysis capabilities for the operators.</p>

<p>Its use-cases include helping operators to select areas for investment and resource allocation, pinpoint faults that affect revenue, analyze impact of marketing campaigns.</p>

<p align="center"><a href="{{ STATIC_URL }}img/folio/axs-clip01b.png" target="_blank"><img src="{{ STATIC_URL }}img/folio/axs-clip01m.png" alt="" /></a></p>

<h3 class="small-heading">Our involvement</h3>
<p>We work on all areas of the technical stack. The stack consists of a distributed data processing pipeline that collects, validates, cleans and aggregates telco network data from their mediation servers, an in-memory data grid that allows ultra-fast querying of terabyte quantity of processed data, a RESTful service that performs queries and returns results, a light-weight web frontend that displays key performance indicators and interactive visualizations.</p>

<p>We also handle the deployment of the software onto AWS and bare-metal hardware, the infrastructure provisioning and the configuration manangement.</p>

<h3 class="small-heading">AxS is powered by:</h3>
<ul>
  <li>Javascript / Angular.js / D3.js / Twiter Bootstrap</li>
  <li>Scala / akka actors</li>
  <li>Gridgain</li>
  <li>Python / SaltStack</li>
</ul>
<p>The product is now worth more than US$1 million in the market. Commercialization is now on-going.</p>
