{% extends "jumpbox/jumpbox_page.html" %}
{% load i18n %}

{% block page_id %}about{% endblock %}

{% block page_logo %}
<div class="about-logo"></div>
{% endblock %}

{% block page_content %}
<h2 class="content-heading">About Us</h2>
<div>
    <p>We are a development team capable of delivering elegant and functional software solutions to real-world problems.</p>
    
    <img src="{{ STATIC_URL }}img/developer.png">
    
    <p>If you are looking for <strong>reliable developers</strong>  with a balanced skill mix of creativity, clear organized thinking, UI/UX and software engineering, you have come to the right place.  With the right skillset, we are able to execute your disruptive idea into a working prototype.</p>
    
    <h3 class="small-heading">Our specialties</h3>
    <div class="container">
        <div class="row">
            <div class="span3 ridge">
                <img src="{{ STATIC_URL }}img/rad.png"><span class="elegant">Rapid</span> <strong>application development for your business.</strong>
            </div>
            <div class="span2 ridge">
                <img src="{{ STATIC_URL }}img/nlp.png"><strong>Natural language processing and text mining.</strong>
            </div>
            <div class="span2 ridge">
                <img src="{{ STATIC_URL }}img/jsviz.png"><strong>Interactive Javascript data visualization.</strong>
            </div>
        </div>
        <div class="row">
            <div class="span7">
                <blockquote class="row stylish">With agile development, we turn insights into high-impact applications .</blockquote>
            </div>
        </div>
    </div>
    
    <h3 class="small-heading">Our clients</h3>
    <img src="{{ STATIC_URL }}img/NUS_logo.png">
    <img src="{{ STATIC_URL }}img/jamiq_logo.png">
    <img src="{{ STATIC_URL }}img/KKH_logo.png">
    <h3 class="small-heading">Enjoy your time here</h3>
    <p>We are currently avaiable for projects. You may view our team member profiles and portfolio. If you are still interested, you can <a class="slide to(contacts)" href="{% url contacts %}">contact us</a> or connect with us.</p>
</div>
{% endblock %}
