{% load i18n %}
<div class="footer">
    <div class="footer-menu">
        <div class="footer-link first">
            <a class="slide to(about)" href="{% url about %}">About</a>
        </div>
        <div class="footer-link">
            <a class="slide to(profiles)" href="{% url profiles %}">Profiles</a>
        </div>
        <div class="footer-link">
            <a class="slide to(portfolio)" href="{% url portfolio %}">Portfolio</a>
        </div>
        <div class="footer-link last">
            <a class="slide to(contacts)" href="{% url contacts %}">Contacts</a>
        </div>
    </div>
    <p style="text-align:center">Supreme excellence consists in solving a problem without programming.</p>
</div>