{% extends "project_base.html" %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jb-blue.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/jb-extra.css" />
{% endblock %}

{% block header %}
<div class="ajax-loader"></div>
<ul id="menu">
	<li class="menu-link">
        <a href="{% url about %}"><img src="{{ STATIC_URL }}img/menu/about.png" width="72" height="72" alt="About" />About Us</a>
    </li>
    <li class="menu-link">
        <a href="{% url members %}"><img src="{{ STATIC_URL }}img/menu/members.png" width="80" height="81" alt="Members" />Members</a>
    </li>
    <li class="menu-link">
       <a href="{% url portfolio %}"><img src="{{ STATIC_URL }}img/menu/portfolio.png" width="84" height="84" alt="Portfolio" />Portfolio</a>
    </li>
    <li class="menu-link" style="margin:0px">
        <a href="{% url contacts %}"><img src="{{ STATIC_URL }}img/menu/contacts.png" width="73" height="74" alt="Contacts" />Contacts</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="pages">
	{% include "jumpbox/about.html" %}
	{% include "jumpbox/members.html" %}
	{% include "jumpbox/portfolio.html" %}
    {% include "jumpbox/contacts.html" %}
</div>
<div class="folioDescr">
  <div class="folioDescrContent"></div>
  <div class="descr-arrow"></div>
</div>
<div class="dark-layer"></div>
<div id="popupBox"></div>
<div id="popup"> 
	<a href="index.php" onclick="closePopup()" class="close"> 
  		<img height="32" width="32" alt="close" src="{{ STATIC_URL }}img/close.png" class="p-close" />
  	</a>
	<div class="pop-window">
    </div>
</div>
<div id="jBox"></div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript_library %}
    {{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/cufon-yui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ChunkFive_400.font.js"></script>
<!-- <script type="text/javascript" src="scripts/Myriad_Pro_600_700.font.js"></script>-->
{% endblock %}

{% block javascript %}
<script type="text/javascript">
var jumpBox = {
	collapseTime : 1200,	//Time in ms to collapse page
	expandTime : 1200,	//Time in ms to expand page
	slideTime : 2200,	//Time in ms of slide animation between two pages
	firstPage : {{ first_page }},	//Index number of first page
	twitterUsername : "kakarukeys",
	numberOfTweets : 1,	//Number of Recent Tweets
	showTwUname : true,	//Show link with username before every tweet
	cufonReplace : "h2.page-heading, h3.inner-heading, h2.content-heading, .small-heading, .menu-link a, .module-title, .footer-link,.item-descr,.item-title,.cufoned"	// CSS selectors of elements which will be replaced with canvased font
};
</script>
{% endblock %}
