{% extends "jumpbox/jumpbox_page.html" %}
{% load i18n %}

{% block page_id %}profiles{% endblock %}

{% block page_logo %}
<div class="profiles-logo"></div>
{% endblock %}

{% block page_content %}
<div>
    <h3 class="inner-heading">The Team</h3>
    <p>My cross-functional team consists of me and other overseas developers, each with their own unique skillset and expertise. All overseas developers are handpicked and screened by me. We have worked on several projects to build up the trust, rapport and to improve upon our team communication.</p>
    
    <p>I have many years of experience working with team members coming from diverse backgrounds and know how to handle different work culture from different parts of the world.</p>
    
</p>
</div>
<div style="float:left; width:320px;margin-right:38px;">
    <h3 class="small-heading">Jeff, team lead</h3>
    <img src="{{ STATIC_URL }}img/jiang.jpg" alt="" />
    <ul class="details">
        <li class="first"><span>Name:</span> Wong Jiang Fung</li>
        <li><span>Responsibility:</span> Agile project management</li>
        <li class="last"><span>Current status:</span> Stationed in Singapore</li>
    </ul>
</div>
<div style="float:left; width:320px">
    <h3 class="small-heading">Lethal Skills</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
    </p>
    <p>Python / Django / Javascript / jQuery / AngularJS / D3.js / Twitter Bootstrap / Data mining / Software Engineering / Web Development</p>
    <h3 class="small-heading">Been there done that</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
    </p>
    <p>UI/UX / HTML5 / CSS3 / Clojure / Scala / SQL / NLP / Machine Learning / Pandas / Linux / Amazon Web Services / Twitter Storm / Gridgain / Solr / APIs</p>
    <h3 class="small-heading">Novice</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
    </p>
    <p> C# / wxPython / gevent / Cython / Selenium / Jenkins / Chef / Salt / Heroku / Redis / ......</p>
    <br>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    
<script type="text/javascript">
$("a#print_resume").click(function() {
    window.print();
    return false;
});
</script>
{% endblock %}
