{% extends "jumpbox/jumpbox_page.html" %}
{% load i18n %}

{% block page_id %}profiles{% endblock %}

{% block page_logo %}
<div class="profiles-logo"></div>
{% endblock %}

{% block page_content %}
<div>
    <h3 class="inner-heading">Our Team</h3>
    <p>Our team is made up of 3 people with cross-functional skills who do the actual work (planning, analysis, design, development, testing, deployment,  technical communication, etc). We collaborate and work as a unit to achieve a common goal set by our customers.</p>
</div>
<div style="float:left; width:320px;margin-right:38px;">
    <h3 class="small-heading">Scrum Master</h3>
    <img src="{{ STATIC_URL }}img/jiang.jpg" alt="" />
    <ul class="details">
        <li class="first"><span>Name:</span> Wong Jiang Fung</li>
        <li><span>Expertise:</span> Project management</li>
        <li class="last"><span>Current status:</span> Stationed in Singapore</li>
    </ul>
</div>
<div style="float:left; width:320px">
    <h3 class="small-heading">Lethal Skills</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
    </p>
    <p>Python / Django / Javascript / jQuery / SQL / PostgreSQL / git / Problem Solving</p>
    <h3 class="small-heading">Been there done that</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
    </p>
    <p>UI/UX / HTML5 / CSS3 / AngularJS / Noir / Clojure / C# / Twitter Storm / Linux / Text mining / Optimization algorithms / Machine Learning / Project Management</p>
    <h3 class="small-heading">Novice</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
    </p>
    <p>wxPython / NLP / gevent / Facebook API / Twitter API / Twitter Bootstrap / Selenium / fabric / numPy / Heroku / Solr /......</p>
    <br>
</div>

<div style="float:left; width:320px;margin-right:38px;">
    <h3 class="small-heading">Web Designer</h3>
    <img src="{{ STATIC_URL }}img/sally.jpg" alt="" />
    <ul class="details">
        <li class="first"><span>Name:</span> Sally</li>
        <li><span>Expertise:</span> Web and iOS app design</li>
        <li class="last"><span>Current status:</span> Digital nomad</li>
    </ul>
</div>
<div style="float:left; width:320px">
    <h3 class="small-heading">Lethal Skills</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
    </p>
    <p>UI/UX / HTML5 / CSS3 / Photoshop / Wireframing / Visual design</p>
    <h3 class="small-heading">Been there done that</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
    </p>
    <p>Javascript / jQuery / Cocoa Touch / Logo design / Banner design / Balsamiq / Responsive design</p>
    <h3 class="small-heading">Novice</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
    </p>
    <p>Photography / Writing</p>
    <br><br>
</div>

<div style="float:left; width:320px;margin-right:38px;">
    <h3 class="small-heading">Senior Developer</h3>
    <img src="{{ STATIC_URL }}img/laocai.jpg" alt="" />
    <ul class="details">
        <li class="first"><span>Name:</span> Laocai</li>
        <li><span>Expertise:</span>Software engineering</li>
        <li class="last"><span>Current status:</span> Digital nomad</li>
    </ul>
</div>
<div style="float:left; width:320px">
    <h3 class="small-heading">Lethal Skills</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
    </p>
    <p>C / C++ / Java / Javascript / PHP / Backend development</p>
    <h3 class="small-heading">Been there done that</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
    </p>
    <p>Frontend development / Continuous integration / Automatic deployment / Project management</p>
    <h3 class="small-heading">Novice</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
    </p>
    <p>Amazon web services / In-memory big data</p>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    
<script type="text/javascript">
$("a#print_resume").click(function() {
    window.print();
    return false;
});
</script>
{% endblock %}
