{% load i18n %}
<div class="bottom-mods">
    <div class="bottom-mods2">
        <div class="bottom-mods3">
            <div class="module first">
                <h3 class="module-title">Contacts</h3>
                <p>I live and work in Singapore.</p>
                <p><strong>Skype:</strong> kakarukeys</p>
                <p><strong>Gtalk / Email:</strong>
                    kakarukeys [at] gmail [dot] com 
                </p>
                <p><a class="cufoned slide to(contacts)" href="index.php?page=contacts">Send Message</a></p>
            </div>
            <div class="module">
                <h3 class="module-title">Latest Project</h3>
                <p>
                    <a class="popup" rel="700" href="folio/scraper.php">
                    <img src="{{ STATIC_URL }}img/folio/scraper-clip01s.jpg" width="180" alt="Web Scraper Visual Setup Tool" />
                    </a>
                </p>
                <p style="text-align:center"><a class="cufoned slide to(portfolio)" href="index.php?page=contacts">Full Portfolio</a></p>
            </div>
            <div class="module">
                <h3 class="module-title">Recent Tweet</h3>
                <ul class="tweets"></ul>
                <p><a target="_blank" class="cufoned tweet-link" href="http://twitter.com/">Follow me on Twitter</a></p>
            </div>
            <div class="module last">
                <h3 class="module-title">Connectivity</h3>
                <p><a href="http://twitter.com/kakarukeys" target="_blank"><img src="{{ STATIC_URL }}img/social/twitter.png" width="40" height="40" alt="twiiter" /></a>
                    <a href="http://www.facebook.com/KOGKOG" target="_blank"><img src="{{ STATIC_URL }}img/social/facebook.png" width="40" height="40" alt="facebook" /></a>
                    <a href="http://www.linkedin.com/in/jianfong" target="_blank"><img src="{{ STATIC_URL }}img/social/linkedin.png" width="40" height="40" alt="linkedin" /></a>
                </p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>