{% extends "jumpbox_page.html" %}
{% load i18n %}

{% block page_id %}resume{% endblock %}

{% block page_logo %}
<div class="resume-logo"></div>
{% endblock %}

{% block page_content %}
<div style="float:left; width:320px;margin-right:38px;">
    <h3 class="inner-heading">Personal Details</h3>
    <img src="{{ STATIC_URL }}img/photo.jpg" alt="" />
    <ul class="details">
        <li class="first"><span>Name:</span> Wong Jiang Fung</li>
        <li><span>Age:</span> 28</li>
        <li><span>Date of Birth:</span> 12/2/1984</li>
        <li><span>Nationality:</span> Malaysian</li>
        <li><span>Immigration:</span> PR</li>
        <li><span>Ethnicity:</span> Chinese</li>
        <li><span>Marital Status:</span> Single</li>
        <li><span>Languages:</span> English, Chinese, Malay</li>
        <li class="last"><span>Availability:</span> 1/11/2012 onwards</li>
    </ul>
</div>
<div style="float:left; width:320px">
    <h3 class="inner-heading">Skillsets</h3>
    <h3 class="small-heading">Lethal</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
    </p>
    <p>Python / Django / Javascript / jQuery / SQL / PostgreSQL / git / Problem Solving</p>
    <p>The lethal skillset consists of skills that a developer practises everyday in his job and hones to almost perfection.</p>
    <h3 class="small-heading">Been there done that</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
    </p>
    <p>UI/UX / HTML5 / CSS3 / AngularJS / Noir / Clojure / C# / Twitter Storm / Linux / Text mining / Optimization algorithms / Machine Learning / Project Management</p>
    <p>The "been there done that" skillset consists of skills that a developer has dived into in order to complete a major project. Although non-lethal, he is capable of delivering again using the skills in future.</p>
    <h3 class="small-heading">Novice</h3>
    <p class="stars">
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
        <span class="star2"></span>
    </p>
    <p>wxPython / NLP / gevent / Facebook API / Twitter API / Twitter Bootstrap / Selenium / fabric / numPy / Heroku / Solr /......</p>
    <p>The novice skillset consists of skills that a developer picks up along the way, plays with, touches the surface of it and thus will not be afraid to try again next time.</p>
</div>
<div class="clear"></div>
<h3 class="inner-heading">Work Experience (3 years)</h3>
<div class="resume-item">
    <h3 class="small-heading">Software Engineer</h3>
    <h4 class="item-descr">JamiQ Pte. Ltd. <span class="period">Jul 2010 - Mar 2011, Sep 2011 - Present<br/ >(Full-time, 1 year & 4 months)</span></h4>
    <p>JamiQ is a startup selling social media monitoring solution in the South-East Asian market. I am part of the core tech team that builds the tool that enables our clients to monitor their brand's social media presence. During my tenure, I completed a number of projects to enhance our product offerings, such as a social media crisis monitoring solution, an administration backend for all resellers, a visual web scraping tool, etc.</p>
</div>
<div class="resume-item">
    <h3 class="small-heading">Analyst Programmer</h3>
    <h4 class="item-descr">Integrated Health Information Systems Pte. Ltd. <span class="period">Mar 2011 - Aug 2011<br/ >(Full-time, 6 months)</span></h4>
    <p>IHiS is a government-linked startup that delivers healthcare IT solutions to all major public healthcare clusters in Singapore. I was involved in the IT side of the <a href="http://www.moh.gov.sg/content/moh_web/home/pressRoom/pressRoomItemRelease/2011/booster_shot_forhealthcare.html" target="_blank">Medication Assistance Fund project</a> (set up in 2010, to help needy Singaporean citizens pay for expensive drugs used for specific medical conditions), building the platform for the management of the fund application workflow.</p>
</div>
<div class="resume-item">
    <h3 class="small-heading">Development Engineer</h3>
    <h4 class="item-descr">Hoya Magnetics Singapore Pte. Ltd. <span class="period">Jan 2008 - Jun 2009<br/ >(Full-time, 1 1/2 year)</span></h4>
    <p>My jobscope was to research & develop new perpendicular magnetic recording media. During my tenure, I helped my department to launch two models which were then applied to production and subsequently patented.</p>
</div>
<h3 class="inner-heading">Education</h3>
<div class="resume-item">
    <h3 class="small-heading">National University of Singapore</h3>
    <h4 class="item-descr">Bachelor of Science, Second Class Honours, Physics. <span class="period">Jul 1999 - Dec 2003</span></h4>
    <p>CAP: 3.96 / 5</p>
    <h4 class="item-descr">Master of Science, Physics. <span class="period">Jan 2005 - Dec 2007</span></h4>
    <p>CAP: 4.5 / 5</p>
</div>
<p style="text-align:center">
	<a class="button" id="print_resume" href="#">Print Resume</a>
	<a class="button" href="{{ STATIC_URL }}CV%20Resume.doc">Download Resume</a>
</p>
{% endblock %}

{% block javascript %}
	{{ block.super }}
	
<script type="text/javascript">
$("a#print_resume").click(function() {
	window.print();
	return false;
});
</script>
{% endblock %}
